<!-- The content in this file is inserted into the base.html file -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- load our reset stylesheet -->
<link rel="stylesheet" href="{{ 'assets/css/reset.css' | url }}">
<!-- load our main stylesheet -->
<link rel="stylesheet" href="{{ 'assets/css/styles.css' | url }}">

<footer>
    <div class="ftext">
    <p>The illustrated vehicles may vary in selected details from the production models and some illustrations feature optional equipment available at additional cost. All information concerning the scope of supply, appearance, services, dimensions and weights is non-binding and specified with the proviso that errors, for instance in printing, setting and/or typing, may occur; such information is subject to change without notice. Please note that model specifications may vary from country to country.&nbsp;In the case of coated surfaces, there may be colour differences due to the usual process deviations.<br>
<br>
The consumption values stated refer to the roadworthy series condition of the vehicles at the time of factory delivery.</p>

</div>


    </footer>