

<!-- This content is inserted into the base.html file -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- load our reset stylesheet -->
<link rel="stylesheet" href="{{ 'assets/css/reset.css' | url }}">
<!-- load our main stylesheet -->
<link rel="stylesheet" href="{{ 'assets/css/styles.css' | url }}">
<link rel="stylesheet" href="{{ 'assets/css/scripts.js' | url }}">


<!-- you could add favicons etc here -->


<header>
    <div class="topnav">
        <div class="header">
        <a href="index.html">
        <img src="https://www.husqvarna-motorcycles.com/content/dam/websites/husqvarna-motorcycles-com/language-masters/en/logo/hqvlogo140-blue.png" alt="logo"
        /></a>
        
        <a class="active" href="Menu.html">Athletes</a>
        <a href="Experience the brand.html">Experience the brand</a>
        <a href="Our Team.html">Service</a>
        <a href="Models.html">Models</a>
        <input type="text" placeholder="Search..">
        </div>
        </div>
</header>


